.content{
    font: .6em  Times, TimesNR, 'New Century Schoolbook',Georgia, 'New York', serif;
    width: 100%;
    margin: 0 auto;
    border-bottom: #ddd 1px solid;
    border-left: #ddd 1px solid;
    background:url("http://originoo-1.b0.upaiyun.com/freepic/3232487.jpg!freethumb") 50% 50% no-repeat;
    /* background-size: 100%; */
    border-top: #ddd 1px solid;
    border-right: #ddd 1px solid;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.7);
    position: relative;
    border-radius: 5px;
    padding: 30px 10px;
}
.Writer_Name{
    font: 3em 'New Century Schoolbook',Georgia, 'New York', serif;
    color: #000;
    margin-left: 4vw;
}
.Job_Level{
    font: 0.8em 'New Century Schoolbook',Georgia, 'New York', serif;
    color: #000;
}
.border_bottom{
    border-bottom: 1px solid #000;
    width:90%;
    margin: 0 auto;
}
.age{
    font: 2em sans-serif ;
    color: #000;
    line-height: 2rem;
    margin-left: 4vw;
}
.corporateName{
    font: 1.1em 'New Century Schoolbook',Georgia, 'New York', serif;
    font-weight: bold;
}
.margin-left{
    margin-left: 2rem;
    line-height: 2.5rem;
}
